.demo-inline-calendar-card {
    width: 100%;
  }

  .myButton{
   
    color: #D588A6 !important;
  }
  .mySpinner{
   
    color: white !important;
    // background-color: #D588A6 !important;
  }
//   .myInput{
    // color: #D588A6 !important;
//   }