.highlight-date {
    background-color: #BFDBFE !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: linear-gradient(#9DCAFF, #A7BFF0,#B0B4E1,#B9A9D2,#C39EC3,#D588A6);}
